.navbar {
    margin-bottom: 0;
    background-color: #49E20E;
    z-index: 9999;
    border: 0;
    font-size: 14px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
    color: #ffffff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #49E20E !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

.jumbotron {
	background-color: #d3d3d3;
	color: #ffffff;
	height: 200px;
}

.message {
	font-size: 20px;
    padding: 2%;
    margin-left: 2%;
    margin-right: 2%;
    background-color: #f8f8f8; 
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
}

.mainFooter2 {
    width: 100%;
    float: left;
    margin-bottom: 2%;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    background-color: #797979;
}

.mainFooter p {
    width: 92%;
    margin: 2% auto;
    color: #FFF;
}
